.about_title{
    font-family: "American Typewriter", serif;
    font-weight: bold;
    color: $font-color;
    font-size: 2.4rem;
    transform: rotate(270deg);
    transform-origin: center;
    margin-top: 11rem;
}

.about_subtitle{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: $font-color;
    font-size: 1.1rem;
}

.about_description{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    color: $font-color;
    font-size: 1rem;
}

hr{
    display: block;
    height: 0.2rem;
    width: 3rem;
    color: black;
    background-color: black;
    margin-left: 0rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}