.about__container{

    &.homepage{
        //background-color: #edeeef;
    }

}

.about__container-padding{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about__section{
    padding-bottom: 1rem;
}

.about__image-rounded{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about__description{
    font-size: 2rem;
    font-style: italic;

    &.homepage{
        font-style: unset;
        margin-bottom: 2rem;
    }
}

.quote__symbol svg{
    color: #282828 !important;
    height : 10rem;
    width: 10rem;
}

.quote__text{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: #265790;
    margin-bottom: 2rem;
}

.about__techStack-list{
    font-size: 2rem;
}

.about__content{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.about__segment-title{

    font-size: 3rem;
    font-weight: bold;

}

.about__segment-line{
    border: 2px solid black;
}

.about__segment{
    margin: 2rem 0;
}

.about__segment-others{

    margin-top : 3rem;
    margin-bottom: 2rem;
    margin-right: 0;
    margin-right: 0;
}

.about__resume-image{
    border: 1px solid black;
}

.about__resume-image:hover{
    cursor: pointer;
}

.about__imageTile, .about__resume-imageCol{
    margin: 1rem 0;
}

.about__resume{
    background-color: black;
}

.about__card-title{
    font-size: 1rem;
    font-weight: bold;
}

.about__others-row{
    margin-bottom: 2rem;
}



/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .about__description{

        font-size: 2.5rem;

        &.homepage{
            font-size: 3.4rem;
        }

    }

    .about__image-rounded{
        position: relative;
        width: 150px;
        height: 150px;
        margin: 2rem 0;

        &.homepage{
            top: 30%;
            width: 200px;
            height: 200px;
        }

    }

    .about__content{
        font-size: 2rem;
    }

    .quote__text{
        font-size: 3.2rem;
    }

    .about__segment-title{
        font-size: 4rem;
    }

    .about__resume{
        padding: 5rem 0;
    }

    .about__card-title{
        font-size: 3rem;
    }

    .about__segment-others{
        margin-top: 4rem;
    }

    .about__others-row{
        margin-bottom: 4rem;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .about__imageTile, .about__techStack-list, .about__resume-imageCol{
        margin: 2rem 0;
    }
    
} 