.about_title{
    font-family: "American Typewriter", serif;
    font-weight: bold;
    color: $font-color;
    font-size: 2.4rem;
    transform: rotate(270deg);
    transform-origin: center;
    margin-top: 11rem;
}

.about_title1{
    font-family: "American Typewriter", serif;
    font-weight: bold;
    color: $font-color;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.about_subtitle{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: $font-color;
    font-size: 1.1rem;
}

.about_subtitle1{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: $font-color;
    font-size: 2rem;
    text-align: center;
}

.about_description{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    color: $font-color;
    font-size: 1rem;
}

.about_description1{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    color: #7091b7;
    font-size: 2rem;
    text-align: center;
}
