.about_title{
    font-family: "American Typewriter", serif;
    font-weight: bold;
    color: $font-color;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.about_description{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    color: #7091b7;
    font-size: 1.7rem;
    text-align: center;
}
