.admin__form{
    margin: 5rem 0;
}

.admin__form-group{
    margin-bottom: 1rem;
}

.admin__message-font{
    font-size: 3rem;
    font-weight: bold;
}

.admin__home{
    color: #004085;
    font-size: 2rem;
}

/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .admin__message-font{
        font-size: 5rem;
        font-weight: bold;
    }

    .admin__home{
        font-size: 3rem;
    }
    
} 