.icon_div{
    text-align: center;
}

.icon_bar{
    margin: 2rem 0;
}

.contact_input{
    padding: 1rem;
}

.contact_input-select{
    height: 4rem !important;
}

.contact_input_textarea{
    padding: 1rem 1rem 4rem;
}

.contact_form_div{
    background-color: $off-black;
    padding: 5rem 0;
}

.contact_text_format{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: white;
    font-size: 1.2rem;
}

.modal_text_format{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: black;
    font-size: 1.2rem;
}

.icon_text_format{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: black;
    font-size: 1.4rem;
    visibility: hidden;
    display: none;
}

/* Small devices (phones, 770 and down) */
@media only screen and (min-width: 550px) {
    .icon_text_format{
        display: block;
    }
} 

/* Small devices (phones, 770 and down) */
@media only screen and (min-width: 770px) {
    .icon_text_format{
        visibility: visible;
    }
} 