.footer{
    padding: 4rem 0 1.5rem;
}

.footer__copyright{
    font-family: 'avenir next', helvetica, arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.footer__copyright-company{
    font-weight: 600;
}

.footer__techicon{
    margin: 0.2rem;
}

.footer__linkedin svg{
    margin-top : -0.5rem;
    margin-left: 0.5rem;
}