.cardBody{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.7rem;
    text-align: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.card__zoom{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card__zoom:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);

    img{
        cursor: pointer; 
    }
}