.header {
    
}

.header__navbar{
    padding-right: 0;
}

.projects_logo{
    margin-top: 2rem;
    width: 18.3rem;
    height: 6rem;
}

//BEM - Block Element Modifier naming convention (getbem.com)

@media( min-width : $desktop-breakpoint ){
    .header {
        //margin-bottom: $xl-size;
    }
}