.home__section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section__title{
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;
}

/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .section__title{

        font-size: 5rem;

        &.homepage{
            font-size: 6.4rem;
        }
    }
    
} 