.home-container {
    margin: 10rem 2rem;
    max-width: 1260px;
}

.home-aboutus_section{
    margin: 3rem 0;
    background-color: #f7f6f6;
}

.home-section_divider{
    margin: 8rem 0;
}

.greeting-img-upload-text{
    background-color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
