.loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
.loader__image {
    height: 20rem;
    width: 20rem;
    position: relative;
}

.loader__logo{
    width: 18.3rem;
    height: 7.2rem;
    position: absolute;
    top: 30%;
}