.more__navlink{
    font-size: 2.4rem;
    font-weight: bold;
    color: black !important;
}

/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .more__link-container{
        margin-bottom: 3rem;
    }

} 