.more__navlink{
    font-weight: 100;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-style: normal;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border-color: #272727;
    border-width: 2px;
    border-style: solid;
}

.more__navlink:hover{
    color: white !important;
    background-color: #272727;
    text-decoration: none;
}

.more__link-container{
    margin: 1rem 0;
}

/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

    .more__link-container{
        margin: 3rem 0;
    }

    .more__navlink{
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
    }

} 