.project-item_title{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
}

.imageContainer{
    position: relative;

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    border: 0px;
}

.project-item_image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.imageOverlay {
    transition: 1.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: -30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlayText{
    color: $bootstrap-warning;
    padding: 16px 32px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    background-color: black;
    word-wrap: break-word;
}

.imageContainer:hover .project-item_image {

    opacity: 0.3;

    &.grid_overlay{
        opacity: 1;
    }

    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
  
.imageContainer:hover .imageOverlay{
    opacity: 1;
}

.project-item-info{
    transition: 5s ease;
}

.project-item-info_imageContainer{
    text-align: center;
    margin: 2rem 0;
}


.project-item-info_image{
    width: 100%;
}

.project-item_subtitle{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.project-item_overview{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;    
}

.project-item_status{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 0rem;
}

.project-item_navbar{
    background-color: $off-black;
    color: $bootstrap-warning;
    padding: 2rem 0;
    margin: 2rem 0 0;
}

.project-item_navbarTab{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: underline;
}

.project-item_navbarText{
    padding: 0 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #464444;
}

.project-item_amenities_section{
    background-color: #f7f7f2;
    color: $off-black;
    padding: 2rem 0;
    border-bottom: black solid 1px;  
    margin: 0;
}

.project-item_amenities{

    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;

}

.project-item_locationSection{
    margin-top: 4rem;
}

.project-item_contact{
    margin: 5rem 0;
}

.project-item_specs_section{
    background-color: #dadac9;
    color: $off-black;
    padding: 2rem 0;
    font-size: 1.2rem;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    margin: 0;
}

.project-item_brochure{
    height : 500px;
    width: auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .project-item_title{
        font-size: 3.6rem;
    }

    .project-item_subtitle{
        font-size: 2.4rem;
        
        &.grid_overlay{
            font-size: 1.5rem;
        }
    }
    
    .project-item_overview{
        font-size: 2.4rem;    
    }

    .project-item_navbarTab{
        font-size: 2.4rem;
    }
    
    .project-item_amenities{

        font-size: 2.4rem;
    
    }
} 