.projects-container{
    margin: 2rem 0;
}

.projects_navitem{
    
}

.projects_logo{
    margin-top: 3rem;
}

.projects_statusfont{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: $font-color;
    font-size: 1.8rem;
}

.projects_divider{
    margin-bottom: 2rem;
}

.projects_section{
    margin: 2rem 0;
}

.projects_body{
    //border: 1px solid black;
}
