.testimonial__container{

}

.testimonial__container-padding{
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.testimonial__content{

    font-family: "Times New Roman", Times, serif;
    font-size: 1.9rem;
    font-style: italic;
    margin: 2rem 0;

}

.testimonial__image{
    margin-top: 2rem;
}

.testimonial__image-rounded{

    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.testimonial__name{
    font-weight: bold;
}

.testimonial_row{
    margin-right: 0;
    margin-left: 0;
}


/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .testimonial_row{
        margin-bottom: 1rem;
    }

    .testimonial__content{
        font-size: 2.4rem;
    }

    .testimonial__image{
        margin: 2rem 0;
    }
} 