.testimonial__container{
    //background-color: #373738;
    //color: white;
    background-image: url(../../public/images/Entreprenaur.jpg);
    background-size: cover;
    background-attachment: local;
    position: relative;
}

.testimonial__overlay{
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
}

.testimonial__container-padding{
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.testimonial{
    margin: 1rem 0;
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}

.testimonial__content{

    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-style: italic;

}

.testimonial__image{
    margin-top: 2rem;
}

.testimonial__image-rounded{

    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.testimonial__name{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.testimonial__title{
    font-size: 1rem;
}

.testimonial_row{
    margin-right: 0;
    margin-left: 0;
}


/* Large devices and tabs (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .testimonial_row{
        margin: 1rem 0;
    }

    .testimonial__content{
        font-size: 2rem;
    }

    .testimonial__image{
        margin: 2rem 0;
    }

    .testimonial__name{
        font-size: unset;
    }
    
    .testimonial__title{
        font-size: unset;
    }

    .testimonial__container{
        background-attachment: fixed;
    }
    
} 