.travel__landscape{
    margin: 1rem 0;
}

.travel__title{
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}

.travel__summary{
    font-style: italic;
    margin-bottom: 1rem;    
}

.travel__section-divider{
    margin-bottom: 2rem;
}

.travel__note{
    margin: 0.5rem 0;
    text-indent: 10%;
}

.travel__summary, .travel__note{
    font-size: 1.5rem;
}

@media only screen and (min-width: 992px) {

    .travel__summary, .travel__note{
        font-size: 2rem;
    }

    .travel__section-divider{
        margin-bottom: 4rem;
    }

    .travel__note{
        margin: 1rem 0;
    }

    .travel__title{
        font-size: 5.4rem;
        margin: 2rem 0;
    }

    .travel__landscape{
        margin: 2rem 0;
    }

}