.welcome-image-div{
    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: local;
    position: relative;
    transition: 1.5s ease;
    background-image: url(../../public/images/CornerBg.jpg);

}

.overlay-containter{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.overlay-row{
    height: 100%;
    position: relative;
}

.mobile__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: visible;
}

.overlay-column1{
    border-right: white 0.5px solid;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.24);
    transition: 1.5s ease;
}

.overlay-column2{
    border-right: white 0.5px solid;
    border-left: white 0.5px solid;
    height: 100%;
    background-color: rgba(249, 249, 249, 0.24);
    transition: 1s ease;
}

.overlay-column3{
    border-left: white 0.5px solid;
    height: 100%;
    background-color: rgba(151, 146, 187, 0.24);
    transition: 0.5s ease;
}

.columnText{
    text-align: center;
}

.learn-more-button{
    border: #6c757d 1px solid;
    background-color:rgba(8, 8, 8, 0.52);
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 2;
    transition: 0.2s ease;
}

.learn-more-button:hover{
    border: #262626 1px solid;
    background-color:#262626;
}

.learn-more-div{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: rgb(10, 155, 225);
}

.hide-welcome-screen{
    height: 0%;
    visibility: hidden;   
}

.welcome-image-div.hide-welcome-screen{
    min-height: 0 !important;   
}

.home-content-table{
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    text-align: center;
}

.home-content-tablecell {
    display: table-cell;
    vertical-align: middle;
    z-index: 500;
}

.home-content-social{
    display: table-cell;
    z-index: 500;
    vertical-align: bottom;
    padding-bottom: 5rem;
}

.home-content-social-icon{
    text-align: right;
    margin-bottom: 2rem;
    z-index: 1;
}

.home-content-social .row{
    margin-right: 0px;
    padding: 0 3rem; 
}

.social-icon-anchor-tag svg{
    color: white !important;
}

.social-icon-anchor-tag svg:hover{
    color: #4998ec !important;
}

.youtube-icon-anchor-tag svg{
    color: red !important;
}

.youtube-icon-anchor-tag svg:hover{
    color: black !important;
}

.home-content-tablecell .row {
    position: relative;
    padding-top: 25rem;
}

.mobile-content-tablecell .row {
    position: relative;
    padding-top: 10rem;
}

.mobile-content-tablecell {
    display: table-cell;
    vertical-align: inherit;
    z-index: 500;
    position: absolute;
    width: 100%;
}

.mobile__overlay-title{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    color: black;
    font-size: 7.5rem;
}

.mobile__overlay-subtitle{
    font-family: 'avenir next', helvetica, arial, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 1.4rem;
}

.greeting__footer{
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome-image-div{
        //min-height: 823px;
    }

    .learn-more-button{
        padding: 1rem;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-image-div{
        //min-height: 1024px;
    }

    .learn-more-button{
        padding: 1rem;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-image-div{
        //min-height: 1024px;
    }

    .learn-more-button{
        padding: 1rem 2rem;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-image-div{
        //min-height: 768px;
    }

    .learn-more-div{
        padding-top: 50rem !important;
    }

    .learn-more-button{
        padding: 1rem 2rem;
    }

    .mobile__overlay-title{
        font-size: 10rem;
    }
    
    .mobile__overlay-subtitle{
        font-size: 2rem;
    }

    .social-icon-anchor-tag svg{
        color: black !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    .welcome-image-div{
        //min-height: 826px;
    }

    .learn-more-div{
        padding-top: 50rem !important;
    }

    .learn-more-button{
        padding: 1rem 2rem;
    }

    .mobile__overlay-title{
        font-size: 10rem;
    }
    
    .mobile__overlay-subtitle{
        font-size: 2rem;
    }
}

/* ipad Pro potrait mode */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .welcome-image-div{
        //min-height: 1370px;
    }

}

/* ipad Pro Landscape mode */
@media only screen 
  and (min-width: 1366px) 
  and (max-width: 1366px)
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .welcome-image-div{
        //min-height: 1024px;
    }

}

/* ipad landscape mode */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .welcome-image-div{
        //min-height: 768px;
    }

}
