html {
    font-size: 62.5%;
}
// 1rem = 10px;

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: white;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.is-active{
    font-weight: bold;
}

.modal-content {
    //width: 1200px;
    //height: 800px;
    //margin-left: -200px;
}

.background {
    //position: absolute;
    //background-color: lighten($color: grey, $amount: 10%);
}

.card img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card:hover img{
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
    cursor: pointer;
}


