html {
    font-size: 62.5%;
}
// 1rem = 10px;

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: white;
}

button, a{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.is-active{
    font-weight: bold;
    color: #4A90E2 !important;
}

.logo{
    width: 18.3rem;
    height: 4.4rem;
}

.navlink{
    color: black;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 2rem;
    font-weight: normal;
}

.navlink-right{
    float: right;
}

hr{
    display: block;
    height: 0.1rem;
    width: 3rem;
    color: black;
    background-color: black;
    margin-left: 0rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}
