html {
    font-size: 62.5%;
}
// 1rem = 10px;

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: $m-size;
    background: white;
}

button, a{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.is-active{
    font-weight: bold;
    color: #4A90E2 !important;
}

@media ( min-width: 1200px ){
    .container {
        //max-width: 1171px;
    }
}