//colors
$off-violet : #4E2851;
$light-teal : #4BBBB5;
$off-white : #a5afd7;
$blue : #3c4251;
$dark-blue : #333745;
$light-blue : #464b5e;
$purple : #9932CC;
$body-color : rgb(234, 231, 235); 
$off-green : #3e4e4f;
$parrot-green : #b2bc46;
$off-black : #282828;
$off-white1 : #d6d7d8;
$font-color : #4A4A4A;

//https://imagecolorpicker.com/
//http://pinetools.com/image-color-picker

//spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint : 45rem;